spring:
  profiles:
    active: prod #当前激活的application环境配置

  application:
    name: engine-server

  #druid数据源
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      # http:localhost:8080/druid/datasource.html
      stat-view-servlet:
        enabled: true
        login-username: mysql
        login-password: mysql

server:
  port: 8096

#使用classpath*可以扫描所有的资源路径（包括jar），使用classpath只扫描当前的资源路径
mybatis:
  mapper-locations: classpath*:mybatis/mapper/*Mapper.xml
