<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blctek.carserver.mapper.Car1Mapper">
    <!--select的条件sql（全有）-->
    <sql id="selectCondition">
        <if test=" id!=null and id!='' ">
            AND id = #{id}
        </if>
        <if test=" type!=null and type!='' ">
            AND type = #{type}
        </if>
        <if test=" driverId!=null and driverId!='' ">
            AND driverId = #{driverId}
        </if>
        <if test=" chipId!=null and chipId!='' ">
            AND chipId = #{chipId}
        </if>
        <if test=" imagePath!=null and imagePath!='' ">
            AND imagePath = #{imagePath}
        </if>
        <if test=" inputTime!=null and inputTime!='' ">
            AND inputTime = #{inputTime}
        </if>
    </sql>
    <!--update的条件sql（除了自增主键id）-->
    <sql id="updateCondition">
        <if test=" arg!=null and arg!='' ">
            arg = #{arg},
        </if>
    </sql>
    <!--分页的条件sql（当前页，每页记录数）-->
    <sql id="limitCondition">
        <if test=" currentPage!=null and currentPage!='' and pageSize!=null and pageSize!='' ">
            <bind name="startIndex" value="pageSize*(currentPage-1)"/>
            <bind name="endIndex" value="pageSize*currentPage"/>
            #{startIndex},#{endIndex}
        </if>
    </sql>
    <!--返回的结果集-->
    <resultMap id="CarMap" type="com.blctek.carserver.pojo.Car">
        <id column="id" property="id"/>
        <result column="" property=""/>
    </resultMap>
    <!--新增一条记录-->
    <insert id="insertOne"
            keyProperty="id"
            useGeneratedKeys="true"
            parameterType="com.blctek.carserver.pojo.Car">
        INSERT INTO
        car
        ()
        VALUES
        ()
    </insert>
    <!--删除一条记录-->
    <delete id="deleteOne"
            parameterType="com.blctek.carserver.pojo.Car">
        DELETE FROM
        car
        WHERE
        id = #{id}
    </delete>
    <!--修改一条记录（根据id主键）-->
    <update id="updateOne"
            parameterType="com.blctek.carserver.pojo.Car">
        UPDATE
        car
        <trim prefix="SET" suffixOverrides=",">
            <include refid="updateCondition"></include>
        </trim>
        WHERE
        id = #{id}
    </update>
    <!--查询所有（可分页，可单条件，可多条件）-->
    <select id="selectList"
            parameterType="com.blctek.carserver.pojo.Car"
            resultMap="CarMap">
        SELECT
        *
        FROM
        car
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
        <trim prefix="LIMIT">
            <include refid="limitCondition"></include>
        </trim>
    </select>
    <!--查询一条（可单条件，可多条件）-->
    <select id="selectOne"
            parameterType="com.blctek.carserver.pojo.Car"
            resultMap="CarMap">
        SELECT
        *
        FROM
        car
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
    </select>
    <!--根据主键id（效率高）查询记录数（可单条件，可多条件）-->
    <select id="count"
            parameterType="com.blctek.carserver.pojo.Car"
            resultType="long">
        SELECT
        count(id)
        FROM
        car
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
    </select>
</mapper>