<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blctek.carserver.mapper.ModelMapper">

    <insert id="insertModel" parameterType="com.blctek.carserver.pojo.Model"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            model
            (modelName,modelDescription,modelExampleImage,modelBelong)
        VALUES
            (#{modelName},#{modelDescription},#{modelExampleImage},#{modelBelong})
    </insert>

    <delete id="deleteModelById" parameterType="integer">
        DELETE FROM model WHERE id=#{id}
    </delete>

    <update id="updateModel" parameterType="com.blctek.carserver.pojo.Model">
        UPDATE
            model
        <trim prefix="set" suffixOverrides=",">
            <if test=" modelName!=null and modelName!='' ">
                modelName=#{modelName},
            </if>
            <if test=" modelDescription!=null and modelDescription!='' ">
                modelDescription=#{modelDescription},
            </if>
            <if test=" modelExampleImage!=null and modelExampleImage!='' ">
                modelExampleImage=#{modelExampleImage},
            </if>
            <if test=" modelBelong!=null and modelBelong!='' ">
                modelBelong=#{modelBelong},
            </if>
        </trim>
        WHERE
            id=#{id}
    </update>

    <select id="selectAllModel" resultType="com.blctek.carserver.pojo.Model">
        SELECT
            *
        FROM
            model
    </select>

    <select id="selectModelByCondition" resultType="com.blctek.carserver.pojo.Model">
        SELECT
            *
        FROM
            model
        <trim prefix="where" prefixOverrides="and">
            <if test=" id!=null and id!='' ">
                AND id=#{id}
            </if>
            <if test=" modelName!=null and modelName!='' ">
                AND modelName=#{modelName}
            </if>
            <if test=" modelDescription!=null and modelDescription!='' ">
                AND modelDescription=#{modelDescription}
            </if>
            <if test=" modelExampleImage!=null and modelExampleImage!='' ">
                AND modelExampleImage=#{modelExampleImage}
            </if>
            <if test=" modelBelong!=null and modelBelong!='' ">
                AND modelBelong=#{modelBelong}
            </if>
        </trim>
    </select>
</mapper>