<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangaoxs.userserver.mapper.UserMapper">
    <!--select的条件sql（全有）-->
    <sql id="selectCondition">
        <if test=" id!=null and id!='' ">
            AND u.id = #{id}
        </if>
        <if test=" uuid!=null and uuid!='' ">
            AND u.uuid = #{uuid}
        </if>
        <if test=" username!=null and username!='' ">
            AND u.username = #{username}
        </if>
        <if test=" password!=null and password!='' ">
            AND u.password = #{password}
        </if>
        <if test=" name!=null and name!='' ">
            AND u.name = #{name}
        </if>
        <if test=" avatar!=null and avatar!='' ">
            AND u.avatar = #{avatar}
        </if>
        <if test=" phone!=null and phone!='' ">
            AND u.phone = #{phone}
        </if>
        <if test=" roleId!=null and roleId!='' ">
            AND u.roleId = #{roleId}
        </if>
    </sql>
    <!--update的条件sql（除了自增主键id）-->
    <sql id="updateCondition">
        <if test=" uuid!=null and uuid!='' ">
            uuid = #{uuid},
        </if>
        <if test=" username!=null and username!='' ">
            username = #{username},
        </if>
        <if test=" password!=null and password!='' ">
            password = #{password},
        </if>
        <if test=" name!=null and name!='' ">
            name = #{name},
        </if>
        <if test=" avatar!=null and avatar!='' ">
            avatar = #{avatar},
        </if>
        <if test=" phone!=null and phone!='' ">
            phone = #{phone},
        </if>
        <if test=" roleId!=null and roleId!='' ">
            roleId = #{roleId},
        </if>
    </sql>
    <!--分页的条件sql（当前页，每页记录数）-->
    <sql id="limitCondition">
        <if test=" currentPage!=null and currentPage!='' and pageSize!=null and pageSize!='' ">
            <bind name="offset" value="pageSize*(currentPage-1)"/>
            <bind name="rows" value="pageSize"/>
            #{offset},#{rows}
        </if>
    </sql>
    <!--user表的别名-->
    <sql id="userAs">
        u.id                AS uId,
        u.uuid              AS uUuid,
        u.username          AS uUsername,
        u.password          AS uPassword,
        u.name              AS uName,
        u.avatar            AS uAvatar,
        u.phone             AS uPhone,
        u.roleId            AS uRoleId
    </sql>
    <!--返回的结果集-->
    <resultMap id="userMap" type="com.fangaoxs.userserver.pojo.User">
        <id column="uId" property="id"/>
        <result column="uUuid" property="uuid"/>
        <result column="uUsername" property="username"/>
        <result column="uPassword" property="password"/>
        <result column="uName" property="name"/>
        <result column="uAvatar" property="avatar"/>
        <result column="uPhone" property="phone"/>
        <result column="uRoleId" property="roleId"/>
        <association property="role" javaType="com.fangaoxs.userserver.pojo.Role">
            <id column="rId" property="id"/>
            <result column="rName" property="name"/>
            <result column="rChineseName" property="chineseName"/>
            <result column="rDescription" property="description"/>
        </association>
    </resultMap>
    <!--新增一条-->
    <insert id="insertOne"
            keyProperty="id"
            useGeneratedKeys="true"
            parameterType="com.fangaoxs.userserver.pojo.User">
        INSERT INTO
            user
            (uuid,username,password,name,avatar,phone,roleId)
        VALUES
            (#{uuid},#{username},#{password},#{name},#{avatar},#{phone},#{roleId})
    </insert>
    <!--删除一条-->
    <delete id="deleteOne"
            parameterType="com.fangaoxs.userserver.pojo.User">
        DELETE FROM user WHERE id = #{id}
    </delete>
    <!--修改一条（根据id主键）-->
    <update id="updateOne"
            parameterType="com.fangaoxs.userserver.pojo.User">
        UPDATE
            user
        <trim prefix="SET" suffixOverrides=",">
            <include refid="updateCondition"></include>
        </trim>
        WHERE
            id = #{id}
    </update>
    <!--查询所有（可分页，可单条件，可多条件）-->
    <select id="selectList"
            parameterType="com.fangaoxs.userserver.pojo.User"
            resultMap="userMap">
        SELECT
            <include refid="userAs"></include>,
            <include refid="com.fangaoxs.userserver.mapper.RoleMapper.roleAs"></include>
        FROM
            user u
            JOIN role r on u.roleId = r.id
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
        ORDER BY
            u.id
        <trim prefix="LIMIT">
            <include refid="limitCondition"></include>
        </trim>
    </select>
    <!--查询一条（可单条件，可多条件）-->
    <select id="selectOne"
            parameterType="com.fangaoxs.userserver.pojo.User"
            resultMap="userMap">
        SELECT
            <include refid="userAs"></include>,
            <include refid="com.fangaoxs.userserver.mapper.RoleMapper.roleAs"></include>
        FROM
            user u
            JOIN role r on u.roleId = r.id
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
    </select>
    <!--查询记录数（可单条件，可多条件）-->
    <select id="count"
            parameterType="com.fangaoxs.userserver.pojo.User"
            resultType="long">
        SELECT
            count(u.id)
        FROM
            user u
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
    </select>
</mapper>
