<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blctek.userserver.mapper.UserMapper">
    <!--select的条件sql（全有）-->
    <sql id="selectCondition">
        <if test=" id!=null and id!='' ">
            AND id = #{id}
        </if>
        <if test=" uuid!=null and uuid!='' ">
            AND uuid = #{uuid}
        </if>
        <if test=" username!=null and username!='' ">
            AND username = #{username}
        </if>
        <if test=" password!=null and password!='' ">
            AND password = #{password}
        </if>
        <if test=" name!=null and name!='' ">
            AND name = #{name}
        </if>
        <if test=" avatar!=null and avatar!='' ">
            AND avatar = #{avatar}
        </if>
        <if test=" phone!=null and phone!='' ">
            AND phone = #{phone}
        </if>
    </sql>
    <!--update的条件sql（除了自增主键id）-->
    <sql id="updateCondition">
        <if test=" uuid!=null and uuid!='' ">
            uuid = #{uuid},
        </if>
        <if test=" username!=null and username!='' ">
            username = #{username},
        </if>
        <if test=" password!=null and password!='' ">
            password = #{password},
        </if>
        <if test=" name!=null and name!='' ">
            name = #{name},
        </if>
        <if test=" avatar!=null and avatar!='' ">
            avatar = #{avatar},
        </if>
        <if test=" phone!=null and phone!='' ">
            phone = #{phone},
        </if>
    </sql>
    <!--分页的条件sql（当前页，每页记录数）-->
    <sql id="limitCondition">
        <if test=" currentPage!=null and currentPage!='' and pageSize!=null and pageSize!='' ">
            <bind name="offset" value="pageSize*(currentPage-1)"/>
            <bind name="rows" value="pageSize"/>
            #{offset},#{rows}
        </if>
    </sql>
    <!--返回的结果集-->
    <resultMap id="userMap" type="com.blctek.userserver.pojo.User">
        <id column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="avatar" property="avatar"/>
        <result column="phone" property="phone"/>
    </resultMap>
    <!--新增一条-->
    <insert id="insertOne"
            keyProperty="id"
            useGeneratedKeys="true"
            parameterType="com.blctek.userserver.pojo.User">
        INSERT INTO
            user
            (uuid,username,password,name,avatar,phone)
        VALUES
            (#{uuid},#{username},#{password},#{name},#{avatar},#{phone})
    </insert>
    <!--删除一条-->
    <delete id="deleteOne"
            parameterType="com.blctek.userserver.pojo.User">
        DELETE FROM user WHERE id = #{id}
    </delete>
    <!--修改一条（根据id主键）-->
    <update id="updateOne"
            parameterType="com.blctek.userserver.pojo.User">
        UPDATE
            user
        <trim prefix="SET" suffixOverrides=",">
            <include refid="updateCondition"></include>
        </trim>
        WHERE
            id = #{id}
    </update>
    <!--查询所有（可分页，可单条件，可多条件）-->
    <select id="selectList"
            parameterType="com.blctek.userserver.pojo.User"
            resultMap="userMap">
        SELECT
            *
        FROM
            user
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
        <trim prefix="LIMIT">
            <include refid="limitCondition"></include>
        </trim>
    </select>
    <!--查询一条（可单条件，可多条件）-->
    <select id="selectOne"
            parameterType="com.blctek.userserver.pojo.User"
            resultMap="userMap">
        SELECT
            *
        FROM
            user
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
    </select>
    <!--查询记录数（可单条件，可多条件）-->
    <select id="count"
            parameterType="com.blctek.userserver.pojo.User"
            resultType="long">
        SELECT
            count(id)
        FROM
            user
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
    </select>
</mapper>