<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangaoxs.engineserver.mapper.DriverMapper">
    <!--select的条件sql（全有）-->
    <sql id="selectCondition">
        <if test=" id!=null and id!='' ">
            AND d.id = #{id}
        </if>
        <if test=" uuid!=null and uuid!='' ">
            AND d.uuid = #{uuid}
        </if>
        <if test=" name!=null and name!='' ">
            AND d.name = #{name}
        </if>
        <if test=" phone!=null and phone!='' ">
            AND d.phone = #{phone}
        </if>
    </sql>
    <!--update的条件sql（除了自增主键id）-->
    <sql id="updateCondition">
        <if test=" uuid!=null and uuid!='' ">
            uuid = #{uuid},
        </if>
        <if test=" name!=null and name!='' ">
            name = #{name},
        </if>
        <if test=" phone!=null and phone!='' ">
            phone = #{phone},
        </if>
    </sql>
    <!--分页的条件sql（当前页，每页记录数）-->
    <sql id="limitCondition">
        <if test=" currentPage!=null and currentPage!='' and pageSize!=null and pageSize!='' ">
            <bind name="offset" value="pageSize*(currentPage-1)"/>
            <bind name="rows" value="pageSize"/>
            #{offset},#{rows}
        </if>
    </sql>
    <!--表中字段对应的别称（表名第一个字母.字段名）-->
    <sql id="driverAs">
        d.id            AS dId,
        d.uuid          AS dUuid,
        d.name          AS dName,
        d.phone         AS dPhone
    </sql>
    <!--返回的结果集-->
    <resultMap id="DriverMap" type="com.fangaoxs.engineserver.pojo.Driver">
        <id column="dId" property="id"/>
        <result column="dUuid" property="uuid"/>
        <result column="dName" property="name"/>
        <result column="dPhone" property="phone"/>
    </resultMap>
    <!--新增一条记录-->
    <insert id="insertOne"
            keyProperty="id"
            useGeneratedKeys="true"
            parameterType="com.fangaoxs.engineserver.pojo.Driver">
        INSERT INTO
            driver
            (uuid,name,phone)
        VALUES
            (#{uuid},#{name},#{phone})
    </insert>
    <!--删除一条记录-->
    <delete id="deleteOne"
            parameterType="com.fangaoxs.engineserver.pojo.Driver">
        DELETE FROM
            driver
        WHERE
            id = #{id}
    </delete>
    <!--修改一条记录（根据id主键）-->
    <update id="updateOne"
            parameterType="com.fangaoxs.engineserver.pojo.Driver">
        UPDATE
            driver
        <trim prefix="SET" suffixOverrides=",">
            <include refid="updateCondition"></include>
        </trim>
        WHERE
            id = #{id}
    </update>
    <!--查询所有（可分页，可单条件，可多条件）-->
    <select id="selectList"
            parameterType="com.fangaoxs.engineserver.pojo.Driver"
            resultMap="DriverMap">
        SELECT
            <include refid="driverAs"></include>
        FROM
            driver d
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
        ORDER BY
            d.id
        <trim prefix="LIMIT">
            <include refid="limitCondition"></include>
        </trim>
    </select>
    <!--查询一条（可单条件，可多条件）-->
    <select id="selectOne"
            parameterType="com.fangaoxs.engineserver.pojo.Driver"
            resultMap="DriverMap">
        SELECT
            <include refid="driverAs"></include>
        FROM
            driver d
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
    </select>
    <!--根据主键id（效率高）查询记录数（可单条件，可多条件）-->
    <select id="count"
            parameterType="com.fangaoxs.engineserver.pojo.Driver"
            resultType="long">
        SELECT
            count(d.id)
        FROM
            driver d
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
    </select>
</mapper>
