<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangaoxs.engineserver.mapper.EngineerMapper">
    <!--select的条件sql（全字段对应）：表首字母.字段名-->
    <sql id="selectCondition">
        <if test=" id!=null and id!='' ">
            AND e.id = #{id}
        </if>
        <if test=" uuid!=null and uuid!='' ">
            AND e.uuid = #{uuid}
        </if>
        <if test=" type!=null and type!='' ">
            AND e.type = #{type}
        </if>
        <if test=" deviceId!=null and deviceId!='' ">
            AND e.deviceId = #{deviceId}
        </if>
        <if test=" driverId!=null and driverId!='' ">
            AND e.driverId = #{driverId}
        </if>
        <if test=" inputTime!=null ">
            AND e.inputTime = #{inputTime}
        </if>
        <if test=" modelId!=null and modelId!='' ">
            AND e.modelId = #{modelId}
        </if>
        <if test=" vehicleNumber!=null and vehicleNumber!='' ">
            AND e.vehicleNumber = #{vehicleNumber}
        </if>
        <if test=" plateType!=null and plateType!='' ">
            AND e.plateType = #{plateType}
        </if>
        <if test=" machineNumber!=null and machineNumber!='' ">
            AND e.machineNumber = #{machineNumber}
        </if>
        <if test=" engineNumber!=null and engineNumber!='' ">
            AND e.engineNumber = #{engineNumber}
        </if>
    </sql>
    <!--update的条件sql（除了自增主键id）-->
    <sql id="updateCondition">
        <if test=" uuid!=null and uuid!='' ">
            uuid = #{uuid},
        </if>
        <if test=" type!=null and type!='' ">
            type = #{type},
        </if>
        <if test=" deviceId!=null and deviceId!='' ">
            deviceId = #{deviceId},
        </if>
        <if test=" driverId!=null and driverId!='' ">
            driverId = #{driverId},
        </if>
        <if test=" inputTime!=null ">
            inputTime = #{inputTime},
        </if>
        <if test=" modelId!=null and modelId!='' ">
            modelId = #{modelId},
        </if>
        <if test=" vehicleNumber!=null and vehicleNumber!='' ">
            vehicleNumber = #{vehicleNumber},
        </if>
        <if test=" plateType!=null and plateType!='' ">
            plateType = #{plateType},
        </if>
        <if test=" machineNumber!=null and machineNumber!='' ">
            machineNumber = #{machineNumber},
        </if>
        <if test=" engineNumber!=null and engineNumber!='' ">
            engineNumber = #{engineNumber},
        </if>
    </sql>
    <!--分页的条件sql（当前页，每页记录数）-->
    <sql id="limitCondition">
        <if test=" currentPage!=null and currentPage!='' and pageSize!=null and pageSize!='' ">
            <bind name="offset" value="pageSize*(currentPage-1)"/>
            <bind name="rows" value="pageSize"/>
            #{offset},#{rows}
        </if>
    </sql>
    <!--表中字段对应的别称sql（表名第一个字母.字段名）-->
    <sql id="engineerAs">
        e.id            AS eId,
        e.uuid          AS eUuid,
        e.type          AS eType,
        e.deviceId      AS eDeviceId,
        e.driverId      AS eDriverId,
        e.inputTime     AS eInputTime,
        e.modelId       AS eModelId,
        e.vehicleNumber AS eVehicleNumber,
        e.plateType     AS ePlateType,
        e.machineNumber AS eMachineNumber,
        e.engineNumber  AS eEngineNumber
    </sql>
    <!--返回的结果集-->
    <resultMap id="EngineerMap" type="com.fangaoxs.engineserver.pojo.Engineer">
        <id column="eId" property="id"/>
        <result column="eUuid" property="uuid"/>
        <result column="eType" property="type"/>
        <result column="eDeviceId" property="deviceId"/>
        <result column="eDriverId" property="driverId"/>
        <result column="eInputTime" property="inputTime"/>
        <result column="eModelId" property="modelId"/>
        <result column="eVehicleNumber" property="vehicleNumber"/>
        <result column="ePlateType" property="plateType"/>
        <result column="eMachineNumber" property="machineNumber"/>
        <result column="eEngineNumber" property="engineNumber"/>
        <association property="driver" javaType="com.fangaoxs.engineserver.pojo.Driver">
            <id column="dId" property="id"/>
            <result column="dUuid" property="uuid"/>
            <result column="dName" property="name"/>
            <result column="dPhone" property="phone"/>
        </association>
        <association property="model" javaType="com.fangaoxs.engineserver.pojo.Model">
            <id column="mId" property="id"/>
            <result column="mUuid" property="uuid"/>
            <result column="mType" property="type"/>
            <result column="mName" property="name"/>
            <result column="mDescription" property="description"/>
        </association>
    </resultMap>
    <!--新增一条记录-->
    <insert id="insertOne"
            keyProperty="id"
            useGeneratedKeys="true"
            parameterType="com.fangaoxs.engineserver.pojo.Engineer">
        INSERT INTO
            engineer
            (uuid,type,deviceId,driverId,inputTime,modelId,vehicleNumber,plateType,machineNumber,engineNumber)
        VALUES
            (#{uuid},#{type},#{deviceId},#{driverId},#{inputTime},#{modelId},#{vehicleNumber},#{plateType},#{machineNumber},#{engineNumber})
    </insert>
    <!--删除一条记录-->
    <delete id="deleteOne"
            parameterType="com.fangaoxs.engineserver.pojo.Engineer">
        DELETE FROM
            engineer
        WHERE
            id = #{id}
    </delete>
    <!--修改一条记录（根据id主键）-->
    <update id="updateOne"
            parameterType="com.fangaoxs.engineserver.pojo.Engineer">
        UPDATE
            engineer
        <trim prefix="SET" suffixOverrides=",">
            <include refid="updateCondition"></include>
        </trim>
        WHERE
            id = #{id}
    </update>
    <!--查询所有（可分页，可单条件，可多条件）-->
    <select id="selectList"
            parameterType="com.fangaoxs.engineserver.pojo.Engineer"
            resultMap="EngineerMap">
        SELECT
            <include refid="engineerAs"></include>,
            <include refid="com.fangaoxs.engineserver.mapper.DriverMapper.driverAs"></include>,
            <include refid="com.fangaoxs.engineserver.mapper.ModelMapper.modelAs"></include>
        FROM
            engineer e
        join driver d on e.driverId = d.id
        join model m on e.modelId = m.id
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
        ORDER BY
            e.id
        <trim prefix="LIMIT">
            <include refid="limitCondition"></include>
        </trim>
    </select>
    <!--查询一条（可单条件，可多条件）-->
    <select id="selectOne"
            parameterType="com.fangaoxs.engineserver.pojo.Engineer"
            resultMap="EngineerMap">
        SELECT
            <include refid="engineerAs"></include>,
            <include refid="com.fangaoxs.engineserver.mapper.DriverMapper.driverAs"></include>,
            <include refid="com.fangaoxs.engineserver.mapper.ModelMapper.modelAs"></include>
        FROM
            engineer e
            join driver d on e.driverId = d.id
            join model m on e.modelId = m.id
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
    </select>
    <!--根据主键id（效率高）查询记录数（可单条件，可多条件）-->
    <select id="count"
            parameterType="com.fangaoxs.engineserver.pojo.Engineer"
            resultType="long">
        SELECT
            count(e.id)
        FROM
            engineer e
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
    </select>
</mapper>
