<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blctek.engineserver.mapper.ModelMapper">
    <!--select的条件sql（全有）-->
    <sql id="selectCondition">
        <if test=" id!=null and id!='' ">
            AND m.id = #{id}
        </if>
        <if test=" uuid!=null and uuid!='' ">
            AND m.uuid = #{uuid}
        </if>
        <if test=" name!=null and name!='' ">
            AND m.name = #{name}
        </if>
        <if test=" type!=null and type!='' ">
            AND m.type = #{type}
        </if>
        <if test=" description!=null and description!='' ">
            AND m.description = #{description}
        </if>
    </sql>
    <!--update的条件sql（除了自增主键id）-->
    <sql id="updateCondition">
        <if test=" uuid!=null and uuid!='' ">
            uuid = #{uuid},
        </if>
        <if test=" name!=null and name!='' ">
            name = #{name},
        </if>
        <if test=" type!=null and type!='' ">
            type = #{type},
        </if>
        <if test=" description!=null and description!='' ">
            description = #{description},
        </if>
    </sql>
    <!--分页的条件sql（当前页，每页记录数）-->
    <sql id="limitCondition">
        <if test=" currentPage!=null and currentPage!='' and pageSize!=null and pageSize!='' ">
            <bind name="offset" value="pageSize*(currentPage-1)"/>
            <bind name="rows" value="pageSize"/>
            #{offset},#{rows}
        </if>
    </sql>
    <sql id="modelAs">
        m.id            AS mId,
        m.uuid          AS mUuid,
        m.type          AS mType,
        m.name          AS mName,
        m.description   AS mDescription
    </sql>
    <!--返回的结果集-->
    <resultMap id="ModelMap" type="com.blctek.engineserver.pojo.Model">
        <id column="mId" property="id"/>
        <result column="mUuid" property="uuid"/>
        <result column="mType" property="type"/>
        <result column="mName" property="name"/>
        <result column="mDescription" property="description"/>
    </resultMap>
    <!--新增一条记录-->
    <insert id="insertOne"
            keyProperty="id"
            useGeneratedKeys="true"
            parameterType="com.blctek.engineserver.pojo.Model">
        INSERT INTO
            model
            (uuid,name,type,description)
        VALUES
            (#{uuid},#{name},#{type},#{description})
    </insert>
    <!--删除一条记录-->
    <delete id="deleteOne"
            parameterType="com.blctek.engineserver.pojo.Model">
        DELETE FROM
            model
        WHERE
            id = #{id}
    </delete>
    <!--修改一条记录（根据id主键）-->
    <update id="updateOne"
            parameterType="com.blctek.engineserver.pojo.Model">
        UPDATE
            model
        <trim prefix="SET" suffixOverrides=",">
            <include refid="updateCondition"></include>
        </trim>
        WHERE
            id = #{id}
    </update>
    <!--查询所有（可分页，可单条件，可多条件）-->
    <select id="selectList"
            parameterType="com.blctek.engineserver.pojo.Model"
            resultMap="ModelMap">
        SELECT
            <include refid="modelAs"></include>
        FROM
            model m
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
        ORDER BY
            m.id
        <trim prefix="LIMIT">
            <include refid="limitCondition"></include>
        </trim>
    </select>
    <!--查询一条（可单条件，可多条件）-->
    <select id="selectOne"
            parameterType="com.blctek.engineserver.pojo.Model"
            resultMap="ModelMap">
        SELECT
            <include refid="modelAs"></include>
        FROM
            model m
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
    </select>
    <!--根据主键id（效率高）查询记录数（可单条件，可多条件）-->
    <select id="count"
            parameterType="com.blctek.engineserver.pojo.Model"
            resultType="long">
        SELECT
            count(m.id)
        FROM
            model m
        <trim prefix="WHERE" prefixOverrides="AND">
            <include refid="selectCondition"></include>
        </trim>
    </select>
</mapper>